<li>
    {{!-- reference name on table --}}
	{{name}}
{{!-- added button with data attribute --}}
	<button class="change-seen" data-id="{{id}}" data-seen="{{seen}}">
		{{#if seen}}Click to move back to "On The Search For"{{else}}Click once you've spotted the animal!{{/if}}
	</button>

	{{!-- <button class="delete-animal" data-id="{{this.id}}">DELETE!</button> --}}
</li>
