<li>
    {{!-- reference name on table --}}
	{{name}}
{{!-- added button with data attribute --}}
	<button class="change-seen" data-id="{{id}}" data-seen="{{seen}}">
		{{#if seen}}&#x27A1;{{else}}&#x2B05;{{/if}}
	</button>

	{{!-- <button class="delete-animal" data-id="{{this.id}}">DELETE!</button> --}}
</li>
